body{
    font-family: helvetica;
}

nav{
    font-size: 20px;
}

nav li a{
    color: white !important;
}

.nav li a:hover{
    background-color: white !important;
    color: #4183D7 !important;
}

.navbar{
    background-color: #4183D7;
}

#menu .active{
    background-color: white !important;
    color: #4183D7 !important;
}

.btn-primary{
    background-color: #4183D7;
}

.navbar-brand{
    font-size: 20px;
    color: white !important;
}

.center{
    text-align: center;
}

.container{
    width: 100%;
}

h2{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 80px;
}

hr{
    max-width: 60px;
    margin-top: -40px;
    margin-bottom: 30px;
    /*border-top: 5px solid #4183D7;*/
    border-top: 5px solid black;
}

h3{
    font-weight: bold;
}

p{
    font-size: 20px;
}

.icon-bar{
    background-color: white !important;
}

.navbar-toggle{
    border: 2px solid white !important;
}

#pokedexImage, #loading{
    height: 200px;
    width: 200px;
}

.error .noResults{
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
}

.error{
    display: none;
}

.starters .starterInfo{
    height: 300px;
    width: 300px;
    margin: auto;
}

.grass{
    background-color: #87D37C;
    border-radius: 50%;
}

.fire{
    background-color: #EC644B;
    border-radius: 50%;
}

.water{
    background-color: #52B3D9;
    border-radius: 50%;
}

.second, .third{
    display: none;
}

.navbar{
    opacity: 0;
}

.starterInfo img{
    width: 300px;
    height: 300px;
}

.starterInfo img{
    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 black);
}

.pokemon img{
    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(-1px -1px 0 black);
}

.welcome1 {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .5s;
}

.hr {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.25s;
}

#pokeball {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
}

.flash{
    opacity: 0;
}

#pokeman, .welcome2{
    display: none;
}

#pokeman{
    margin: auto;
    height: 400px;
}

#pokeball{
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transform-origin: bottom;

}
#pokeball:hover{
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
            animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: .5s;
            
}

@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(10deg); 
    } to { 
        -webkit-transform: rotate(-10deg); 
    } 
}
@keyframes spin { 
    from { 
        transform: rotate(10deg); 
    } to { 
        transform: rotate(-10deg); 
    }
}

#pokeball{
    cursor: pointer;
}

.fp-controlArrow.fp-prev{
    border-color: transparent black;
}

.fp-controlArrow.fp-next{
    border-color: transparent black;
}

@media only screen and (max-width: 770px){
    .nav li a{
        box-shadow: none !important;
        border-bottom: 1px solid white;
    }

    .nav li a:hover{
        background-color: white !important;
        color: #4183D7 !important;
    }

    .nav{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}